<h3>About cook4one</h3>

<p>cook4one is a collection of recipes stored online that you can add to. When viewing a recipe, you can also calculate and show ingredients for the serving size of your choice.</p>

<p>cook4one can take a large recipe and convert it to a small portion, or show you the required ingredients for any recipe for many people.</p>

<h4>How to make a new recipe</h4>

<p>Navigate to the index by clicking "cook4one" on the navbar. Push the button for "Create New Recipe" at the top.</p>

<p>Enter recipe information into the forms. Try not to leave any out. Don't worry, you will add the ingredients later.</p>

<p>Click on your recipe in the list to go to it's details page</p>

<p>Push the button "Add new Ingredient" at the top. Fill in the forms for each ingredient. The "source/notes" form is optional but the first three (measurement, units and name) are not.</p>

<p>Add all of the ingredients and you can adjust the number of servings down below in the Recipe Calculator! This does not change the recipe, only shows you what it would be for how many servings.</p>

<p>The recipe will be saved on firebase for you to access later.</p>
