<div class="new-ingredient">
  {{new-ingredient saveIngredient2="saveIngredient3" recipe=model}}
</div>
{{recipe-details recipe=model update="update" destroyRecipe='destroyRecipe' cook4One3="cook4One4"}}
